<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<app-sidebar></app-sidebar>
<div class="maincontianer">

    <div class="row">
        <input type="text" class="box" placeholder="Enter the Longitute">
        <input type="text" class="box" placeholder="Enter the Latitude">
        <button class="box" style="margin-left:200px;">Submit</button>
    </div>

    <div class="row">
        <div class="map" style="background-image: url('https://img.freepik.com/free-vector/worldwide-global-map-outline-black-background_1017-46153.jpg');">
        </div>
    </div>


    <div class="row" style="padding: 20px;width: 1200px;margin-left: 130px;margin-top: 20px;">
        <div class="boxes" style="background-color: darkred;">
            <h3 style="padding: 20px;color: white;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Batter Status</h3>
        </div>
        <div class="boxess" style="background-color: darkgray;">
            <h3 style="padding: 20px;color: white;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Latitude & Longitude</h3>

        </div>
        <div class="boxess" style="background-color: darkslategrey;">
            <h3 style="padding: 20px;color: white;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Curent Time</h3>

        </div>

    </div>

</div>