.content
{
    padding-top: 100px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    width: 100px;
    height: 200px;
}

.body
{
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/819/474/non_2x/military-drone-in-the-sky-free-photo.jpg');
    height: 782px;
    background-repeat: no-repeat;
    background-size: cover;
}